using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Text.RegularExpressions;
using System.Text;
using System.Threading;
using System.Threading.Channels;
using System.Threading.Tasks;

using Xunit;
using FluentAssertions;
using aoc.Puzzles.Core;
using aoc.Puzzles.Year<yearYYYY>

namespace aoc.Puzzles.Test.Year<yearYYYY>
{
    public sealed class Day<dayDD>Test : TestBase\<Day<dayDD>>
    {
        [Fact]
        public async Task Part1()
        {
            (await Solution.PartOne("", Writer)).Should().BeEquivalentTo("");
        }

        [Fact]
        public async Task Part2()
        {
            (await Solution.PartTwo("", Writer)).Should().BeEquivalentTo("");
        }
    }
}
